<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>PatentDB: Dashboard</title>

  <!-- Favicons -->
  <link href="static/dash/img/favicon.png" rel="icon">
  <link href="static/dash/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="static/dash/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="static/dash/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="static/dash/css/zabuto_calendar.css">
  <link rel="stylesheet" type="text/css" href="static/dash/lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="static/dash/css/style.css" rel="stylesheet">
  <link href="static/dash/css/style-responsive.css" rel="stylesheet">
  <script src="static/dash/lib/chart-master/Chart.js"></script>

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="/" class="logo"><b>PATENT<span>DB</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme">1</span>
              </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 1 new message</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="static/dash/img/friends/fr-05.jpg"></span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi, is your renewal on track?
                  </span>
                  </a>
              </li>
            </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="/#login">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="static/dash/img/friends/fr-11.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Sam Soffes</h5>
          <li class="mt">
            <a class="active" href="/dash_applicant#">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Application Status</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-cogs"></i>
              <span>Search Patents</span>
              </a>
          </li>
          <li class="sub-menu">
            <a class="active" href="/application">
              <i class="fa fa-book"></i>
              <span>File a Patent</span>
              </a>
          </li>
        </ul>
      </div>
    </aside>
   
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          
              <br>
              <br>
              <div class="col-md-8 mb">
                <div class="message-p pn">
                  <div class="message-header">
                    <h5>Patent Criteria</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        Patent applications must satisfy the following three criteria:
                      </p>
                      <p>
                        <name>Novelty:</name>
                        This means that your invention must not have been made public – not even by yourself – before the date of the application.

                      </p>
                      <p>
                        <name>Inventive Step:</name>
                        This means that your product or process must be an inventive solution. It cannot be a solution that would be obvious to a manufacturer.
                      </p>
                      <p>
                        <name>Industrial Applicability:</name>
                       This criterion implies that it must be possible to actually manufacture the new invention. In other words, you can apply for a patent on a new kind of playing card that is easier to hold than existing cards. But you can’t obtain a patent for an idea for a new card game.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /Message Panel-->
              </div>
              <!-- /col-md-8  -->
            </div>
          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          
          <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
    </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="static/dash/lib/jquery/jquery.min.js"></script>

  <script src="static/dash/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="static/dash/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="static/dash/lib/jquery.scrollTo.min.js"></script>
  <script src="static/dash/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="static/dash/lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="static/dash/lib/common-scripts.js"></script>
  <script type="text/javascript" src="static/dash/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="static/dash/lib/gritter-conf.js"></script>
  <!--script for this page-->
  <script src="static/dash/lib/sparkline-chart.js"></script>
  <script src="static/dash/lib/zabuto_calendar.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to PatentDB!',
        // (string | mandatory) the text inside the notification
        text: '',
        // (string | optional) the image to display on the left
        image: '',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
